<span style="font-weight:bold; color:#d9534f;">Web Scraping</span>

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

<span style="font-weight:bold; color:#d9534f;">We use headers so the website thinks our request is coming from a real browser instead of a bot, preventing blocking.</span>

In [76]:

# headers = {
#     "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
#     "Accept-Language": "en-US,en;q=0.9",
# }
web = requests.get('https://books.toscrape.com/catalogue/page-1.html')
web.encoding = 'utf-8'
soup = BeautifulSoup(web.text, "html.parser")

<h1 style= color:#d9534f;">Its a Testing Section</h1>

In [79]:
books = soup.find_all('article', class_='product_pod')

In [55]:
len(books)

20

In [106]:
books[0].h3.a['title']
books[0].p['class'][1]
books[0].find('p',class_='price_color').text
books[0].find('p',class_='instock').text.strip()

'In stock'

<h2> Now Scraping the 50 Pages </h2>

In [87]:
Book_list=[]
map_rating={'One':1, 'Two':2, 'Three':3, 'Four':4, 'Five':5}
for i in range(1,51):
    url = f'https://books.toscrape.com/catalogue/page-{i}.html'
    web = requests.get(url)
    soup = BeautifulSoup(web.text, "html.parser")
    books = soup.find_all('article', class_='product_pod')
    for book in books:
        Title = book.h3.a['title']
        book_rating = map_rating[book.p['class'][1]]
        price = book.find('p',class_='price_color').text
        Availibilty  = book.find('p', class_='instock').text.strip()
        Book_list.append([Title, book_rating, price, Availibilty])

In [88]:
len(Book_list)

1000

<h2>
    Let's make its DataFrame
</h2>

In [119]:
Books_df = pd.DataFrame(Book_list)

In [ ]:
Books_df.columns={'Title','Rating','Price','Availibility'}

In [125]:
Books_df

,Title,Rating,Price,Availibility
0,A Light in the Attic,3,Â£51.77,In stock
1,Tipping the Velvet,1,Â£53.74,In stock
2,Soumission,1,Â£50.10,In stock
3,Sharp Objects,4,Â£47.82,In stock
4,Sapiens: A Brief History of Humankind,5,Â£54.23,In stock
...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,1,Â£55.53,In stock
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",4,Â£57.06,In stock
997,A Spy's Devotion (The Regency Spies of London #1),5,Â£16.97,In stock
998,1st to Die (Women's Murder Club #1),1,Â£53.98,In stock
999,"1,000 Places to See Before You Die",5,Â£26.08,In stock